<h1>Editing Workshop</h1>

<%= render 'form' %>

<%= link_to 'Show', @workshop, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> |
<%= link_to 'Back', workshops_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
