<h1>Editing Instructor</h1>

<%= render 'form' %>

<%= link_to 'Show', @instructor, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> |
<%= link_to 'Back', instructors_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
