<h1>Editing Answer</h1>

<%= render 'form' %>

<%= link_to 'Show', @answer, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> |
<%= link_to 'Back', answers_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
