<p id="notice"><%= notice %></p>

<h1>Listing Answers</h1>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Feedback</th>
      <th class="mdl-data-table__cell--non-numeric">Question</th>
      <th class="mdl-data-table__cell--non-numeric">Feedback form</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= answer.feedback %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= answer.question_id %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= answer.feedback_form_id %></td>
        <!-- <td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Show', answer %></td>
        <td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Edit', edit_answer_path(answer) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Answer', new_answer_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0"  %>
