<h1>Editing Question Type</h1>

<%= render 'form' %>

<%= link_to 'Show', @question_type, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> |
<%= link_to 'Back', question_types_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
