<h1>Editing Feedback Form</h1>

<%= render 'form' %>

<%= link_to 'Show', @feedback_form, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> |
<%= link_to 'Back', feedback_forms_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
